table {
    width:100% !important;
    table-layout:auto !important;
}
thead {
    background-color: #365b66 !important;
    color: #bcd1d4 !important;
}
.form-select {
    border: 1px solid white;
    background-color: #0078d4;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
}

    .form-select:hover {
        background-color: white;
        color: black;
    }