.h3Overide {
    color: white !important;
    text-align: center !important;
}

.labelOveride {
    background-color: var(--pulse-dark-colour) !important;
    color: white !important;
    font-weight: bold !important;
    text-align: center !important;
    border: 1px solid var(--pulse-dark-colour) !important;
    margin: 1px;
}

.controlOveride {
    border: 1px solid var(--pulse-dark-colour) !important;
    margin: 1px !important;
}
