.stack-vertical{
    row-gap: 0px !important;
}
.stack-vertical {
    row-gap: 0px !important;
}



.fluent-data-grid {
    --fluent-data-grid-resize-handle-color: var(--neutral-stroke-rest) !important;
}

.MasterLayoutParent {
    display: flex;
    width: 100vw;
    flex-direction: column; /* Stack children vertically */
    height: 100vh; /* Or whatever height your parent should be, like 100% */
    overflow: hidden;
}

.MasterLayoutHeader {
    /* Fixed sizes; flexbox will respect these */
    height: 56px; /* Or min-height if you want flexibility */
    width: 100vw;
    /* background: lightgray; */
}

.MasterLayoutContent {
    width: 100vw;
    flex: 1; /* This magic makes it grow to fill the space */
    overflow:hidden;
}

.MasterLayoutFooter {
    width: 100vw;
    height: 56px; /* Or min-height if you want flexibility */
    background: var(--pulse-dark-colour);
}
.mbparent {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    height: 100%; /* Or whatever height your parent should be, like 100% */
}