.card-body {
    padding-top: 0em !important;
    padding-bottom: 0em !important;
    padding-right: 0em !important;
    padding-left: 0em !important;
}

.layout-top-row {
}


.card-header {
    background-color: #365b66 !important;
    color: white !important;
    font-weight: bolder !important;
}

.card-footer {
    background-color: #bcd1d4 !important;
    border: 1px solid #365b66 !important;
}

.toast {
    --bs-toast-bg: white !important;
    --bs-toast-header-color: #365b66 !important;
    --bs-toast-header-bg: rgba(188, 209, 212, 0.5) !important;
}

.toast-progress {
    --bs-bg-opacity: 0.2 !important;
    height: 65% !important;
}

.toast-header {
    height: 30% !important;
}

.toast-body {
    height: 70% !important;
}

.drawer {
    /* --bb-drawer-body-padding : 0 !important; */
    top: 56px !important;
}

hr {
    color: #365b66 !important;
    background-color: #365b66 !important;
}

.custom-popover {
    --bs-popover-border-color: var(--bs-info);
    --bs-popover-header-bg: var(--bs-info);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: 1rem;
}
