body {
    /*color: white !important;*/
}
.h3-overide {
    color: white !important;
}

/*tr {
    background-color: white !important;
    color: black !important;
}*/
/*.selected {
    background-color: lightblue !important;
    opacity: 1 !important;
    
}*/
th {
    border-bottom: 1px solid #365b66 !important;
}
.td {
    background-color: #bcd1d4 !important;
    color: rgb(54,91,102) !important;
}
.form-select {
    border: 1px solid white;
    background-color: #0078d4;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
}
.form-select:hover {
    background-color: white;
    color: black;
}

