/*body {
}

.th {
    background-color: var(--pulse-dark-t50-colour) !important;
    color: var(--pulse-light-colour) !important;
}
.rz-cell-filter{
    background-color: var(--pulse-dark-colour) !important;
}*/
.stagger-item {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease;
}

    .stagger-item.visible {
        opacity: 1;
        transform: translateY(0);
    }